@import "tailwindcss";

@media (max-width: 768px){
    .recent{
        transform: translateY(20px);
        font-size: 35px;
    }
}

@media (max-width: 768px){
    .teacher{
        display: block;
    }
  }


  