.exp{
    color: #1E183C !important;
}

.rdtxt{
    color: #F6A623;
}

.spnsr{
    color: #F6A623;
}

.cnt{
    color: #F6A623;
}

.expe{
    color: white;
}

@media (max-width: 768px) {
    .rp{
        transform: translateX(-24px);
    }
}
@media (max-width: 768px) {
    .headres{
        transform: translateX(-24px);
    }
}
