.container2 {
    position: fixed; /* Cover the entire viewport */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; /* Cover the full viewport height */
    background-color: #1E2939; /* Solid background color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    z-index: -111;
  }